@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.primary-button
{
    text-decoration: none;
    color: white;
    background: #0C4682;
    padding: 15px 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 1px #0C4682;
    text-align: center;
}
.primary-button:hover
{
    background: #0c3a71;
}
.left-bullet
{
    /*background: red;*/
    padding: 12px 0px;
    width: 90px;
    height: 60px;

}
.left-bullet .bullet-child
{
    height: 2px;
    width: 60px;
    background: #0C4682;
    padding: 2px;
    border-radius: 10px;
    margin: 7px;
}
.left-bullet .last-bullet-child
{
    transform: rotate(90deg);
    height: 2px;
    width: 50px;
    background: #0C4682;
    padding: 2px;
    border-radius: 10px;
    margin: -15px 0px 0px 60px;
    position: absolute;

}
.heading-text
{
    font-size: 50px;
    color: #0C4682;
    padding: 0px 20px;
    font-weight: 600;
}

#small-nav-logo,#check,#bars
{
    display: none;
}
nav
{
    background: #FBFBFB;

}
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul #nav-logo
{
    height: 60px;
    transition: 0.5s;
}
nav ul li
{
    list-style: none;
    padding: 35px 20px;
}
nav ul li a
{
    text-decoration: none;
    color: #0C4682;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 6px 0px;
    font-weight: 500;
    transition: 0.5s;
}
nav ul li a:hover
{
    transition: 0.9s;
}
nav ul li a:after
{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 50%;
    height: 3px;
    background-color: #0C4682;
    transition: transform 250ms;
    -webkit-transition: transform 250ms;
    border-radius: 10px;
}
nav ul li a:hover:after
{
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    height: 3px;
}
#timelineImageContainer
{
    /*position: absolute;*/
    width: 100%;
    height: 790px;
    /*background: rgba(0, 0, 0, 0.6);*/
}
#timelineImageContainer #timelineImg
{
    background-image: url("../material/news-timeline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 1090px;
    margin-top: -300px;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#timeline-upper-div
{
    height: 533px;
    width: 730px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(47px);
    border-radius: 70px 70px 0px 0px;
    color: #FBFBFB;
    margin-top: 265px;
    margin-left: 8%;
    padding: 50px;
    position: absolute;
}
.sub-heading
{
    font-size: 32px;
    margin: 35px 0px;
    font-weight: 400;
}
.big-heading
{
    font-size: 60px;
    font-weight: 600;
}
.container
{
    padding: 100px;
}
#news-article p
{
    color: #0C4682;
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 40px;
}
.article-heading
{
    color: #0C4682;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}
.news-article-side-img
{
    height: 575px;
    width: 377px;
    float: right;
    margin: 30% -100px 20px 20px;
    border-radius: 70px 0px 0px 70px;
    shape-outside: url("../material/news-article-side-img.jpg");
    background: url("../material/bigscreen-news-letter-side-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.line-bottom
{
    width: 100%;
    background: #0C4682;
    height: 2px;
}
.short-title
{
    font-size: 28px;
    color: #0C4682;
    margin-top: 100px;
}
.slider-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.card
{

    width: 440px;
    height: 465px;
    background: #FBFBFB;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 5px 5px 1px rgba(12, 70, 130, 0.25);
}
.card-image
{
    height: 200px;
    overflow: hidden;
}
.card-image img
{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.card-title
{
    font-size: 20px;
    color: #0C4682;
    font-weight: 600;
    padding: 20px;
    height: 70px;
    overflow: hidden;
}
.card-description
{
    color: #0C4682;
    font-size: 17px;
    padding: 10px 20px 20px 20px;
    font-weight: 400;
    height: 130px;
    overflow: hidden;
}
.card-bottom
{
    display: flex;
    align-items: center;
    color: #0C4682;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.card-bottom svg
{
    height: 40px;
    width: 40px;
}
.card-button-bottom-container
{
    width: 95%;
    background: red;
    display: flex;
    justify-content: flex-end;
}
.card-button-bottom
{
    text-decoration: none;
    color: #FBFBFB;
    background: #0C4682;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    margin-top: -30px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 1px #0C4682;
}
.right-arrow
{
    color: #FBFBFB;
    font-size: 30px;
    background: #0C4682;
    width: 55px;
    height: 55px;
    padding: 10px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(12, 70, 130, 0.25);
    transition: 0.5s;
}
.right-arrow:hover
{
    background: #FBFBFB;
    color: #0C4682;
    transition: 0.5s;
}
#footer-container
{
    background: #F1F1F1;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: #0C4682;
    padding: 100px 130px;
}
@media (max-width: 1440px)
{
    nav ul li a
    {
        font-size: 16px;
        transition: 0.5s;
    }
    nav ul li
    {
        padding: 35px 12px;
    }
    nav ul #nav-logo
    {
        height: 50px;
        transition: 0.5s;
    }
    #timeline-upper-div
    {
        height: 477px;
        width: 630px;
        margin-top: 320px;
        margin-left: 6%;
        padding: 50px;
        transition: 0.5s;
    }
    .sub-heading
    {
        font-size: 28px;
        margin: 35px 0px;
        font-weight: 400;
        transition: 0.5s;
    }
    .big-heading
    {
        font-size: 48px;
        font-weight: 600;
        transition: 0.5s;
    }
    .container
    {
        padding: 80px;
    }
    .news-article-side-img
    {
        height: 452px;
        width: 317px;
        float: right;
        margin: 45% -120px 20px 20px;
        border-radius: 70px 0px 0px 70px;
        shape-outside: url("../material/news-article-side-img.jpg");
        background: url("../material/news-article-side-img.jpg");
    }
    .short-title
    {
        font-size: 26px;
    }
    .card
    {

        width: 575px;
        height: 500px;
        margin: 30px;
    }
    .card-image
    {
        height: 200px;
        overflow: hidden;
    }
    .card-title
    {
        font-size: 22px;
        line-height: 30px;
        height: 80px;
    }
    .card-description
    {
        font-size: 17px;
        height: 150px;
    }
    .card-bottom
    {
        font-size: 16px;
    }
    .card-button-bottom-container
    {
        width: 95%;
        background: red;
        display: flex;
        justify-content: flex-end;
    }
    .card-button-bottom
    {
        font-size: 18px;
        margin-top: -25px;
    }
    #footer-container
    {
        font-size: 20px;
        padding: 100px 50px;
    }
}
@media (max-width: 834px)
{
    #bars
    {
        font-size: 32px;
        color: #0C4682;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .bars
    {
        background-color: #0C4682;
        height: 4.5px;
        width: 35px;
        margin: 2px;
        border-radius: 30px;

    }
    .bars:nth-child(2)
    {
        width: 30px;
    }
    .bars:nth-child(3)
    {
        width: 25px;
    }

    #small-nav-logo
    {
        display: block;
        height: 50px;
    }
    nav
    {
        display: flex;
        justify-content: space-between;
        padding: 25px 30px;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    nav ul
    {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 110px;
        background: white;
        box-shadow: lightblue 0px 0px 5px;
        right: -50%;
        transition: all .5s;
        padding: 50px 0px;
        text-align: center;
        z-index: 1;
    }
    #check:checked ~ ul{
        right: 0;
    }
    nav ul li
    {
        padding: 10px;
    }
    #nav-logo
    {
        display: none;
    }
    #timeline-upper-div
    {
        height: 400px;
        width: 560px;
        margin-top: 400px;
        margin-left: 6%;
        padding: 30px;
        transition: 0.5s;
    }
    .sub-heading
    {
        font-size: 20px;
        margin: 35px 0px;
        transition: 0.5s;
    }
    .big-heading
    {
        font-size: 38px;
        transition: 0.5s;
    }
    .container
    {
        padding: 60px;
    }
    #news-article p
    {
        font-size: 18px;
        margin-bottom: 50px;
        line-height: 45px;
    }
    .article-heading
    {
        color: #0C4682;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .news-article-side-img
    {
        height: 437px;
        width: 326px;
        float: right;
        margin: 80% -120px 20px 20px;
        border-radius: 70px 0px 0px 70px;
        shape-outside: url("../material/news-article-side-img.jpg");
        background: url("../material/news-letter-side-img-sm.jpg");
    }
    .short-title
    {
        font-size: 22px;
    }
    .card-d-none-md
    {
        display: none;
    }
}
@media (max-width: 725px)
{
    #timeline-upper-div
    {
        height: auto;
        width: 90%;
        margin: 250px 20px 0px 20px;
        padding: 30px;
        transition: 0.5s;
        border-radius: 70px;
        text-align: center;
    }
    .sub-heading
    {
        font-size: 20px;
        margin: 25px 0px;
        transition: 0.5s;
    }
    .big-heading
    {
        font-size: 38px;
        transition: 0.5s;
    }
    .container
    {
        text-align: center;
    }
    #news-article p
    {
        font-size: 16px;
        line-height: 30px;
    }
    #news-article .article-heading
    {
        font-size: 28px;
    }
    .news-article-side-img
    {
        display: none;
    }
    .short-title
    {
        font-size: 18px;
    }
    .card
    {
        margin: 10px;
        height: 330px;
    }
    .card-image
    {
        height: 110px;
    }
    .card-title
    {
        font-size: 14px;
        line-height: 18px;
        height: 60px;
    }
    .card-description
    {
        font-size: 11px;
        height: 100px;
    }
    .card-bottom
    {
        font-size: 9px;
        padding: 0px 10px 0px 10px;
    }
    .card-button-bottom
    {
        font-size: 10px;
        margin-top: -10px;
    }
    #footer-container
    {
        font-size: 16px;
        padding: 100px 50px;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 375px)
{
    nav
    {
        padding: 10px 30px;
    }
    nav ul
    {
        top: 70px;
    }
    #timeline-upper-div
    {
        height: auto;
        width: 90%;
        margin: 250px 20px 0px 20px;
        padding: 30px;
        transition: 0.5s;
        border-radius: 70px;
        text-align: center;
    }
    .sub-heading
    {
        font-size: 15px;
        margin: 25px 0px;
        transition: 0.5s;
    }
    .big-heading
    {
        font-size: 30px;
        transition: 0.5s;
    }
    .container
    {
        padding: 10px;
    }
    #news-article p
    {
        font-size: 15px;
        margin-bottom: 50px;
        line-height: 30px;
    }
    #news-article .article-heading
    {
        font-size: 22px;
    }
    .card
    {
        margin: 10px;
        height: 330px;
    }
    .card-image
    {
        height: 110px;
    }
    .card-title
    {
        font-size: 14px;
        line-height: 18px;
        height: 60px;
    }
    .card-description
    {
        font-size: 11px;
        height: 100px;
    }
    .card-bottom
    {
        font-size: 9px;
        padding: 0px 10px 0px 10px;
    }
    .card-button-bottom
    {
        font-size: 10px;
        margin-top: -10px;
    }
    #footer-container
    {
        font-size: 14px;
    }
}

