@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
.primary-button
{
    text-decoration: none;
    color: white;
    background: #0C4682;
    padding: 15px 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 1px #0C4682;
    text-align: center;
}
.primary-button:hover
{
    background: #0c3a71;
}
.left-bullet
{
    /*background: red;*/
    padding: 12px 0px;
    width: 90px;
    height: 60px;

}
.left-bullet .bullet-child
{
    height: 2px;
    width: 50px;
    background: #0C4682;
    padding: 2px;
    border-radius: 10px;
    margin: 7px;
}
.left-bullet .last-bullet-child
{
    transform: rotate(90deg);
    height: 2px;
    width: 50px;
    background: #0C4682;
    padding: 2px;
    border-radius: 10px;
    margin: -15px 0px 0px 45px;
    position: absolute;

}
.heading-text
{
    font-size: 42px;
    color: #0C4682;
    padding: 0px 20px;
    font-weight: 600;
}

#small-nav-logo,#check,#bars
{
    display: none;
}
nav
{
    background: #FBFBFB;

}
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul #nav-logo
{
    height: 60px;
    transition: 0.5s;
}
nav ul li
{
    list-style: none;
    padding: 35px 20px;
}
nav ul li a
{
    text-decoration: none;
    color: #0C4682;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 6px 0px;
    transition: 0.5s;
}
nav ul li a:hover
{
    transition: 0.9s;
}
nav ul li a:after
{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 50%;
    height: 3px;
    background-color: #0C4682;
    transition: transform 250ms;
    -webkit-transition: transform 250ms;
    border-radius: 10px;
}
nav ul li a:hover:after
{
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    height: 3px;
}
#timelineImageContainer
{
    /*position: absolute;*/
    width: 100%;
    height: 950px;
    background: rgba(0, 0, 0, 0.6);
}
#timelineImageContainer #timelineImg
{
    background-image: url("../material/timeline-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 950px;
    width: 100%;
    position: absolute;
    z-index: -1;

}
#timelineImageContainer #timelineText
{
    position: absolute;
    padding: 0px 100px;
    margin-top: 300px;
}
#timelineImageContainer #timelineText #timelineTitle
{
    font-size: 56px;
    color: white;
    font-weight: 600;
}
#timelineImageContainer #description
{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 20px;
    line-height: 33px;
    margin-top: 30px;
    transition: 0.5s;
}
#timelineImageContainer #timelineButtons
{
    margin-top: 100px;
    display: flex;
    align-items: center;
}
#timelineImageContainer #timelineButtons #timelineBigButton
{
    font-size: 20px;
    padding: 20px 30px;
    font-weight: 600;
}
#timelineImageContainer #timelineButtons #playButton
{
    font-size: 24px;
    padding: 20px 25px;
    color: white;
    background: rgb(12,70,130,0.7);
    border-radius: 100%;
    margin: 20px;
}
#timelineImageContainer #timelineButtons #playButton:hover
{
   background: #0C4682;
}
#timelineImageContainer #timelineButtons p
{
    font-size: 20px;
    color: white;
    font-weight: 300;

}
#section2
{
    /*background: gray;*/
    display: flex;
    /*justify-content: space-around;*/
    padding:  100px;
}

#section2-description
{
    font-size: 18px;
    margin-top: 50px;
    font-weight: 500;
    color: #0C4682;
}
#store-buttons
{
    display: flex;
    margin-top: 50px;
}
#store-buttons img
{
    width: 220px;
}
#side-mobile
{
    /*background: yellow;*/
}
#side-mobile img
{
    width: 400px;
    margin-top: 50px;

}
#section3-container
{
    background: #F1F1F1;
    padding: 100px 160px;
}
#section3
{
    display: flex;
    justify-content: space-between;
}
.section-sub-title
{
    font-size: 22px;
    font-weight: 500;
    color: #0C4682;
}
.section-head-body
{
    display: flex;
    height: 70px;
    width: 850px;
    justify-content: flex-end;
    align-items: center;
}
#section3-head-body .left-bullet
{
    transform: rotate(180deg);
}
#section3-container .short-title
{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #0C4682;
    margin-top: 100px;
}
.boxes-container
{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.line
{
    width: 75%;
    height: 5px;
    background: #0C4682;
    margin: 140px 0px 0px 20px;
    position: absolute;
}
.boxes-container .box
{
    text-align: center;
    background: #FBFBFB;
    box-shadow: 0px 5px 4px 1px rgba(12, 70, 130, 0.25);
    border-radius: 50px;
    padding: 20px;
    width: 320px;
    margin: 20px;
    z-index: 1;
}
.boxes-container .box svg
{
    height: 70px;
    width: 70px;
}
.boxes-container .box .box-num
{
    color: #0C4682;
    font-size: 28px;
    font-weight: 600;
}
.boxes-container .box .box-title
{
    color: #0C4682;
    font-size: 24px;
    font-weight: 600;
}
.boxes-container .box p
{
    color: #0C4682;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
}
.sm-tabs
{
    display: none;
}
#section-4-container
{
    padding: 100px 160px;
}
#section4
{
    display: flex;
    align-items: center;
}
#section4 .heading-text
{
    margin-right: 50px;
}
#section4-description-title
{
    font-size: 24px;
    font-weight: 500;
    color: #0C4682;
    width: 100%;
    text-align: right;

}
#feature-box-flex
{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
}
.feature-box-container
{
    background: #F1F1F1;
    box-shadow: 0px 5px 5px 1px rgba(12, 70, 130, 0.25);
    border-radius: 40px;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 80px;
}
.feature-box-container .feature-box-title
{
    font-size: 22px;
    font-weight: 600;
    color: #0C4682;
}
.feature-box-container .feature-box-description
{
    font-size: 16px;
    font-weight: 500;
    color: #0C4682;
    margin-top: 20px;
}
#straight-mobile
{
    width: 350px;
    margin: 50px;
}
#learn-more
{
    display: none;
}
#section5-container
{
    background: #F1F1F1;
    padding: 100px;
}
#section5
{
    display: flex;
    justify-content: space-between;
}
.section5-short-title
{
    text-align: center;
    color: #0C4682;
    font-size: 22px;
    font-weight: 500;
    margin-top: 90px;
}
.slider-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.left-arrow
{
    background: #FBFBFB;
    font-size: 30px;
    color: #0C4682;
    width: 55px;
    height: 55px;
    padding: 10px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(12, 70, 130, 0.25);
    transition: 0.5s;
}
.left-arrow:hover
{
    color: #FBFBFB;
    background: #0C4682;
    transition: 0.5s;
}
.card
{

    width: 440px;
    height: 465px;
    background: #FBFBFB;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 5px 5px 1px rgba(12, 70, 130, 0.25);
}
.card-image
{
    height: 200px;
    overflow: hidden;
}
.card-image img
{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.card-title
{
    font-size: 20px;
    color: #0C4682;
    font-weight: 600;
    padding: 20px;
    height: 70px;
    overflow: hidden;
}
.card-description
{
    color: #0C4682;
    font-size: 17px;
    padding: 10px 20px 20px 20px;
    font-weight: 400;
    height: 130px;
    overflow: hidden;
}
.card-bottom
{
    display: flex;
    align-items: center;
    color: #0C4682;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.card-bottom svg
{
    height: 40px;
    width: 40px;
}
.card-button-bottom-container
{
    width: 95%;
    background: red;
    display: flex;
    justify-content: flex-end;
}
.card-button-bottom
{
    text-decoration: none;
    color: #FBFBFB;
    background: #0C4682;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    margin-top: -30px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 1px #0C4682;
}
.right-arrow
{
    color: #FBFBFB;
    font-size: 30px;
    background: #0C4682;
    width: 55px;
    height: 55px;
    padding: 10px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(12, 70, 130, 0.25);
    transition: 0.5s;
}
.right-arrow:hover
{
    background: #FBFBFB;
    color: #0C4682;
    transition: 0.5s;
}
.slider-container2 .card-bottom
{
    margin-bottom: 10px;
}
.slider-container2 .card-button-bottom-container
{
    width: 95%;
    display: flex;
    justify-content: center;
}
#section6-container
{
    padding: 100px;
}
#section6
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section6 #section-title
{
    display: flex;
    width: 650px;

}
#section6-description-title
{
    font-size: 24px;
    font-weight: 500;
    color: #0C4682;
    width: 100%;
    text-align: right;
}
#contact-form
{
    /*background: gray;*/
    margin-top: 100px;
    text-align: center;
}
#top-input
{
    display: flex;
    justify-content: space-between;
}
#top-input input , #message-input
{
    background: #F1F1F1;
    box-shadow: 0px 5px 5px 1px rgba(12, 70, 130, 0.25);
    border-radius: 40px;
    padding: 20px 15px;
    width: 98%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #0C4682;
    margin: 15px;
}
#top-input input:focus , #message-input:focus
{
    outline: none;
}
#form-policy, #form-policy a
{
    font-size: 16px;
    color: #0C4682;
    text-decoration: none;
    font-weight: 500;
    margin: 20px;
}
#contact-form input[type='submit']
{
    font-size: 20px;
    padding: 15px 100px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
#footer-container
{
    background: #F1F1F1;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: #0C4682;
    padding: 100px 130px;
}
@media (max-width: 1440px)
{
    nav ul li a
    {
        font-size: 16px;
        transition: 0.5s;
    }
    nav ul li
    {
        padding: 35px 12px;
    }
    nav ul #nav-logo
    {
        height: 50px;
        transition: 0.5s;
    }
    #timelineImageContainer #description
    {
        font-size: 22px;
        transition: 0.5s;
    }

    .heading-text
    {
        font-size: 40px;
    }
    #section2
    {
        padding:  100px 20px;
    }
    #section2-description
    {
        font-size: 18px;
    }
    #side-mobile img
    {
        width: 300px;
        margin-top: 70px;

    }
    #store-buttons img
    {
        width: 200px;
    }
    #section3-container
    {
        padding: 100px 50px;
    }
    .section-sub-title
    {
        font-size: 22px;
    }
    .section-head-body
    {
        width: 1060px;
    }
    #section3-container .short-title
    {
        font-size: 20px;
    }
    .boxes-container
    {
        margin-top: 10px;
    }
    .boxes-container .box
    {
        width: 360px;
    }
    .boxes-container .box .box-num
    {
        font-size: 28px;
    }
    .boxes-container .box .box-title
    {
        font-size: 22px;
    }
    .boxes-container .box p
    {
        font-size: 18px;
    }
    #section-4-container
    {
        padding: 100px 50px;
    }
    #section4-description-title
    {
        font-size: 24px;
    }
    .feature-box-container
    {
        height: 190px;
        margin-bottom: 50px;
    }
    .feature-box-container .feature-box-title
    {
        font-size: 18px;
    }
    .feature-box-container .feature-box-description
    {
        font-size: 14px;
        margin-top: 20px;
    }
    #straight-mobile
    {
        width: 300px;
        margin: 20px;
    }
    #section5-container
    {
        padding: 100px 50px;
    }
    .section5-short-title
    {
        font-size: 22px;
    }
    .card
    {

        width: 575px;
        height: 500px;
        margin: 30px;
    }
    .card-image
    {
        height: 200px;
        overflow: hidden;
    }
    .card-title
    {
        font-size: 22px;
        line-height: 30px;
        height: 80px;
    }
    .card-description
    {
        font-size: 17px;
        height: 150px;
    }
    .card-bottom
    {
        font-size: 16px;
    }
    .card-button-bottom-container
    {
        width: 95%;
        background: red;
        display: flex;
        justify-content: flex-end;
    }
    .card-button-bottom
    {
        font-size: 18px;
        margin-top: -25px;
    }
    #section6-container
    {
        padding: 100px 50px;
    }
    #section6-description-title
    {
        font-size: 24px;
        width: 90%;
    }
    #top-input input , #message-input
    {
        font-size: 18px;
    }
    #form-policy, #form-policy a
    {
        font-size: 18px;
        color: #0C4682;
        text-decoration: none;
        margin: 20px;
    }
    #contact-form input[type='submit']
    {
        font-size: 22px;
        padding: 20px 100px;
        cursor: pointer;
        border: none;
    }
    #footer-container
    {
        font-size: 20px;
        padding: 100px 50px;
    }
}
@media (max-width: 834px)
{
    #bars
    {
        font-size: 32px;
        color: #0C4682;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .bars
    {
        background-color: #0C4682;
        height: 4.5px;
        width: 35px;
        margin: 2px;
        border-radius: 30px;

    }
    .bars:nth-child(2)
    {
        width: 30px;
    }
    .bars:nth-child(3)
    {
        width: 25px;
    }

    #small-nav-logo
    {
        display: block;
        height: 50px;
    }
    nav
    {
        display: flex;
        justify-content: space-between;
        padding: 25px 30px;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    nav ul
    {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 100px;
        background: white;
        box-shadow: lightblue 0px 0px 5px;
        right: -50%;
        transition: all .5s;
        padding: 50px 0px;
        text-align: center;
        z-index: 1;
    }
    #check:checked ~ ul{
        right: 0;
    }
    nav ul li
    {
        padding: 10px;
    }
    #nav-logo
    {
        display: none;
    }
    #timelineImageContainer #timelineText #timelineTitle
    {
        font-size: 52px;
        color: white;
        font-weight: 600;
    }
    #timelineImageContainer #timelineText
    {
        /*margin-top: 150px;*/
        padding: 0px 30px;
    }
    #timelineImageContainer #description
    {
        font-size: 18px;
        transition: 0.5s;
    }

    .left-bullet
    {
        /*background: red;*/
        padding: 12px 0px;
        width: 90px;
        height: 60px;
        margin-top: -10px;

    }
    .left-bullet .bullet-child
    {
        height: 2px;
        width: 40px;
        background: #0C4682;
        padding: 2px;
        border-radius: 10px;
        margin: 7px;
    }
    .left-bullet .last-bullet-child
    {
        transform: rotate(90deg);
        height: 2px;
        width: 40px;
        background: #0C4682;
        padding: 2px;
        border-radius: 10px;
        margin: -15px 0px 0px 40px;
        position: absolute;

    }
    .heading-text
    {
        font-size: 30px;
    }
    #section2
    {
        padding:  100px 10px;
    }
    #section2-description
    {
        font-size: 16px;
    }
    #side-mobile img
    {
        width: 250px;
        margin-top: 70px;

    }
    #store-buttons img
    {
        width: 190px;
    }
    .section-sub-title
    {
        font-size: 18px;
    }
    .section-head-body .heading-text
    {
      padding: 0px 0px 10px 0px;
    }
    #section3-container .short-title
    {
        font-size: 16px;
    }
    .boxes-container
    {
        margin-top: 10px;
    }
    .boxes-container .box
    {
        width: 360px;
        padding: 15px;
    }
    .boxes-container .box .box-num
    {
        font-size: 18px;
    }
    .boxes-container .box .box-title
    {
        font-size: 16px;
    }
    .boxes-container .box p
    {
        font-size: 14px;
    }
    #section4-description-title
    {
        font-size: 18px;
    }
    #straight-mobile
    {
        display: none;
    }
    .section5-short-title
    {
        font-size: 18px;
        margin-top: 50px;
    }
    .left-arrow , .right-arrow
    {
        width: 45px;
        height: 45px;
        padding: 7px;
        font-size:28px;
    }
    .card
    {
        height: 460px;
    }
    .card .card-description
    {
        height:110px;
    }
    .card .card-bottom
    {
        font-size: 14px;
    }
    .card-d-none-md
    {
        display: none;
    }
    #section6-container
    {
        padding: 100px 50px;
    }
    #section6-description-title
    {
        font-size: 18px;
        width: 90%;
    }
    #top-input
    {
        flex-direction: column;
    }
    #top-input input , #message-input
    {
        font-size: 16px;
    }
    #form-policy, #form-policy a
    {
        font-size: 16px;
    }
    #contact-form input[type='submit']
    {
        font-size: 21px;
    }
}
@media (max-width: 725px)
{
    #timelineImageContainer #timelineText
    {
        margin-top: 150px;
    }
    #timelineImageContainer #timelineButtons
    {
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #timelineImageContainer #timelineButtons #timelineBigButton
    {
        font-size: 18px;
        padding: 20px 30px;
    }
    #timelineImageContainer #timelineButtons p
    {
        font-size: 16px;

    }
    .left-bullet
    {
       display: none;

    }
    .heading-text
    {
        text-align: center;
    }
    #section2-description
    {
        padding: 10px;
        margin-top: 10px;
        text-align: center;
    }
    #side-mobile img
    {
        display: none;

    }
    #store-buttons
    {
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }
    #store-buttons img
    {
        width: 155px;
    }
    #section3
    {
        flex-direction: column;
        padding: 50px;
    }
    .section-head-body
    {
        width: 100%;
        order: 1;
    }
    .section-head-body .heading-text
    {
        margin: 0 auto;
    }
    .section-sub-title
    {
        order: 2;
        margin: 0 auto;
        text-align: center;
    }
    .boxes-container
    {
        flex-direction: column;
        align-items: center;
    }
    .boxes-container .box
    {
        width: 250px;
    }
    .boxes-container-sm-d-none , .short-title-sm-d-none
    {
        display: none;
    }

    .line
    {
        transform: rotate(90deg);
        width: 80%;
        margin: 360px 0px 0px 0px;
    }
    .sm-tabs
    {
        display: block;
        text-align: center;
        color: #0C4682;
        font-size: 13px;
    }
    .sm-tabs span
    {
        margin: 10px;
        cursor: pointer;
    }
    .sm-tabs .active-tab
    {
        border-bottom: 2px solid #0C4682;
        transition: 0.5s;
    }
    #section4
    {
        flex-direction: column;
    }
    #section4 .heading-text
    {
        margin: 0px;
    }
    #section4-description-title
    {
        margin-top: 30px;
        text-align: center;
    }
    #feature-box-flex
    {
        flex-direction: column;
    }
    .features-view
    {
        display: none;
    }
    #learn-more
    {
        display: block;
        color: #0C4682;
        font-size: 16px;
    }
    #section5-container
    {
        padding: 100px 10px;
    }
    #section5
    {
        flex-direction: column;
    }
    .card-d-none-sm
    {
        display: none;
    }
    .card-button-bottom-container
    {
        width: 95%;
        justify-content: center;
    }

    #section6
    {
        flex-direction: column;
    }
    #section6 #section-title
    {
        display: flex;
        width: auto;
    }
    #section6 #section-title .heading-text
    {
        margin: 0 auto;
    }
    #section6 #section6-description-title
    {
        text-align: center;
        margin-top: 20px;
    }
    #form-policy a
    {
        font-size: 11px;
    }
    #contact-form input[type='submit']
    {
        /*font-size: 13px;*/
        padding: 10px 40px;
    }
    #footer-container
    {
        font-size: 20px;
        padding: 100px 50px;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 375px)
{
    #timelineImageContainer #timelineText #timelineTitle
    {
        font-size: 35px;
    }
    nav
    {
        padding: 10px 30px;
    }
    nav ul
    {
        top: 70px;
    }
    #section2-description
    {
        font-size: 14px;
    }
    #store-buttons img
    {
        width: 120px;
    }
    .section-sub-title
    {
        font-size: 15px;
    }
    .heading-text
    {
        font-size: 20px;
    }
    #section4-description-title
    {
        font-size: 15px;
    }
    .section5-short-title
    {
        font-size: 13px;
    }
    .card
    {
        margin: 10px;
        height: 380px;
    }
    .card-image
    {
        height: 110px;
    }
    .card-title
    {
        font-size: 14px;
        line-height: 20px;
    }
    .card-description
    {
        font-size: 11px;
        height: 170px;
    }
    .card-bottom
    {
        font-size: 9px;
    }
    .card-button-bottom
    {
        font-size: 10px;
        margin-top: -10px;
    }
    #section6-container
    {
        padding: 30px;
    }
    #section6 #section6-description-title
    {
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
    }
    #contact-form
    {
        margin-top: 20px;
        margin-left: -20px;
    }
    #top-input
    {
        flex-direction: column;
    }
    #top-input input , #message-input
    {
        font-size: 11px;
    }
    #form-policy, #form-policy a
    {
        font-size: 11px;
    }
    #contact-form input[type='submit']
    {
        font-size: 14px;
        padding: 15px 40px;
    }
    #footer-container
    {
        font-size: 14px;
    }
}